In [41]:
import os
import pandas as pd
import pathlib as path

In [42]:
# Ceate the Path
school_csv = os.path.join("Resources/schools_complete.csv")
students_csv = os.path.join("Resources/students_complete.csv")

# Read the CSV into a Pandas DataFrame
school_df = pd.read_csv(school_csv)
students_df = pd.read_csv(students_csv)

# Combine the data into a single dataset.
school_complete_df = pd.merge(students_df, school_df, how="left", on=["school_name", "school_name"])
school_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [43]:
# Find the total of all the schools
total_schools = school_df["School ID"].count()
total_schools

15

In [44]:
# Find the total budget
budget = school_df["budget"].sum()
budget

24649428

In [45]:
# Find the total number of students
total_students = school_df["size"].sum()
total_students

39170

In [46]:
# Find the average math scores
average_math = students_df["math_score"].mean()
average_math

78.98537145774827

In [47]:
# Find the average reading scores
average_read = students_df["reading_score"].mean()
average_read

81.87784018381414

In [48]:
# Find the average students passing math
passing_math_count = school_complete_df[(school_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students) * 100
passing_math_percentage

74.9808526933878

In [52]:
# Find the average students passing reading
passing_read_count = school_complete_df[(school_complete_df["reading_score"] >= 70)].count()["student_name"]
passing_read_percentage = passing_read_count / float(total_students) * 100
passing_read_percentage

85.80546336482001

In [54]:
# Find the overall passing (Math + Reading)

passing_math_and_reading = school_complete_df[
    (school_complete_df["math_score"] >= 70) & (school_complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_and_reading /  float(total_students) * 100
overall_passing_rate

65.17232575950983

In [55]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary =

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

SyntaxError: invalid syntax (1819559676.py, line 2)